<h1>Registera dig som användare</h1>

<form method="post">
    <label>
        Användarnamn
        <input type="text" name="username">
    </label>
    <label>
        Lösenord
        <input type="password" name="password">
    </label>

    <label>
        E-post
        <input type="email" name="email">
    </label>

    <label>
        Telefon
        <input type="phone" name="phone">
    </label>

    <label>
        Förnamn
        <input type="text" name="firstname">
    </label>

    <label>
        Efternamn
        <input type="text" name="lastname">
    </label>

    <label>
        Adress
        <input type="text" name="street">
    </label>

    <label>
        Postnummer
        <input type="text" name="zip">
    </label>

    <label>
        Ort
        <input type="text" name="city">
    </label>

    <button type="submit">Skicka</button>
</form>