@model Product
@{
    ViewData["Title"] = "Ny kategori";
}

<div class="text-center">
    <h1 class="display-4">Lägg till ny kategori</h1>
    <form method="post">
        <label>
            Namn
            <input type="text" name="name" value="">
        </label>
        <button type="submit">Lägg till</button>
    </form>
</div>
