<h1>Logga in</h1>

<form method="post">
    <label>
        Användarnamn
        <input type="text" name="username">
    </label>
    <label>
        Lösenord
        <input type="password" name="password">
    </label>

    <button type="submit">Logga in</button>
</form>
