@{
    ViewData["Title"] = "Om oss";
}

<div class="text-center">
    <h1 class="display-4">Om oss</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu venenatis augue. Pellentesque risus augue, congue et nulla vitae, gravida ultricies magna. Ut sodales, diam in dignissim rutrum, velit lacus bibendum neque, sit amet iaculis metus quam ut augue. Aliquam viverra pharetra facilisis. Maecenas nec eros pretium mi finibus hendrerit sit amet aliquam purus. Phasellus massa neque, feugiat in commodo a, pulvinar vitae urna. Sed tempus tortor in augue tempor, et blandit mi tempus. Phasellus a nulla eget orci accumsan finibus. Aenean eget fringilla tortor. Aenean porttitor pretium mi in ornare.
    </p>
    <p>
        Duis eget nisl gravida, vulputate urna vitae, elementum velit. Sed non vestibulum velit. Cras mi ipsum, dapibus vel finibus ut, vestibulum et lorem. Donec consequat velit a eros luctus, et tempor ante tincidunt. Donec pellentesque tempus feugiat. Maecenas rhoncus quam sagittis sem dignissim commodo. Duis non vestibulum arcu, sit amet finibus eros. Quisque cursus aliquet leo sed porttitor. Praesent consequat vestibulum fermentum. Mauris eu ex enim. Mauris convallis risus at nisl laoreet, eu iaculis magna tristique. Curabitur sed urna nunc. Cras a diam quis lectus convallis pretium non ut risus. Suspendisse consequat tellus eu eros vulputate, ac vestibulum purus pharetra. Nullam id enim at massa viverra commodo. Sed vitae sem ut neque maximus facilisis eu ac lacus.
    </p>
</div>
