@{
    ViewData["Title"] = "Foodie";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Välkommen till Foodie. Här kan du köpa god och nyttig mat. Allt med gratis hemleverans.</p>
</div>
