@model List<Product>
@{
    ViewData["Title"] = "Produkter";
}

<div class="text-center">
    <h1 class="display-4">Produkter</h1>
    <table>
        <tr>
            <th>Produkt</th>
            <th>Pris</th>
            <th></th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@Html.ActionLink(product.Name, "details", "product", new { id = product.Id })</td>
                <td>@product.Price</td>
                <td>
                    <form asp-controller="Product" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@product.Id">
                        <button>Ta bort</button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <a asp-area="" asp-controller="Product" asp-action="Create">Lägg till ny produkt</a>
</div>